<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active text-uppercase" (click)="scrolltoview($event)" href="#accordian">Accordian</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase" href="#dropdown">Drop Down</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase" href="#litebox">Lite Box</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-uppercase" href="#tabmenu">Tab menu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase" href="#rating">Input Rating</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-uppercase" href="#slider">Input slider</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-uppercase" href="#carousel">Carousel</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-uppercase" href="#table">Table(with filter) and Tree Table</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase" href="#dataview">Data view</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase" href="#charts">Charts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase" href="#toast">Toast</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase" href="#datepicker">Date picker</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li> -->
</ul>